{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}
{% block body %}
<style>
    table,
    th,
    td {
        border: 0px solid black;
        border-bottom: 2px solid red;
        border-collapse: collapse;
        padding:0pt 12pt;
        background-color: black;
    }
    .big, .scale {
        font-weight:bold;
        color:aquamarine;
        text-align: center;
        font-size: 18pt;

    }
    .big {font-size:36pt;}
    .scale {
        vertical-align: top;
        position: relative;
        top: 6pt;
    }
    .device_name {
        text-align: center;
        color:black;
        background-color:white;
    }
    .name, .hi, .lo {
        font-weight:normal;
        color:white;
        vertical-align: top;
        position: relative;
    }
    .lo, .hi {
        font-size:20pt;
        margin:0;
        line-height:.8;
    }
    .lo {color:deepskyblue;padding-right:6pt;}
    .hi {color:red;padding-left:6pt;top:-2px;}

    .sensor-container {
        border: solid 1pt black;
    }
    .daily-history {
        width: 14.28%;
    }
    .daily-temp {
        text-align: center;
        font-size:9pt;
        margin:0;
    }
    .daily-graph {
        background-image: linear-gradient(red, blue);
        margin:0 3pt;
    }
    .daily-spacer {
        background:transparent;
        margin:0;
        padding:0;
    }
    .daily-date-contain {
        height:15pt;
        width:100%;
        background-color:#666;
        color:white;
        font-size:9pt;
        text-align: center;
        margin:0;
    }
    @media (prefers-color-scheme: dark) {
        .device_name {
            text-align: center;
            color:white;
            background-color:rgb(122, 120, 120);
        }
        .sensor-container {
            border-color: white;
    }
</style>

{% set row_name = [""] %}
{% if data %}
    <div style="margin: auto;width:fit-content;" >
    <table>
    {% for row in data %}
        {% if row_name[0] != row.device_name %}
            {% set _ = row_name.pop() %}{% set _ = row_name.append(row.device_name) %}
            <tr >
            <td colspan="2" class="device_name">
                <h2 >{{row.device_name}}</h2></td>
            </tr>
            <tr>
                <td  colspan="2" >
                    <h3 class="big">
                        {{row.reading_time | local_time_string }}
                    </h3>
                </td>
            </tr>

        {% endif %}
         <tr>
            <td>
                <h3 class="name">{{row.sensor_name}}</h3>
                <h3>
                    <span class='lo'>{{row.min_temp | int | default('?',True)}}</span>
                    <span class='hi'>{{row.max_temp | int | default('?',True)}}</span>
                </h3>
            </td>
            <td>
                <h3 class="big">
                    {{row.temperature}}
                    <span class="scale">{{row.scale}}</span>
                </h3>
            </td>
        </tr>
    {% endfor %}
    </table>
   {% if history %}
    <div id="history">
        {% set sensor_name = [""] %}
        {% set top_spacer = [0] %}
        {% set pixPerDegree = [0] %}
        <!-- Set the number of pix per degree F -->
        {% set rangeHeight = 60 %}
        <div>
        {% for row in history %}
        {% if row.name != sensor_name[0] %}
            {% set x = sensor_name.append(row.name) %}
            {% set x = sensor_name.pop(0) %}
            {% set x = pixPerDegree.append(rangeHeight / row.weekly_range) %}
            {% set x = pixPerDegree.pop(0) %}
            </div>
            <h4 class="w3-row">{{row.name}}</h4>
            <div class="w3-row sensor-container" >
        {%endif%}
        <div class="w3-col daily-history" >
            <div class="daily-date-contain" >{{ row.day_letter }}</div>
                <p class="w3-row daily-temp" >{{'%0.0f'|format(row.max)}}</p>
                {% if row.weekly_max > row.max %}
                {% set x = top_spacer.append((row.weekly_max - row.max)) %}
                {% else %}
                {% set x = top_spacer.append(0) %}
                {% endif %}
                {% set x = top_spacer.pop(0) %}
                <p class="daily-spacer" style="height:{{ top_spacer[0] * pixPerDegree[0] }}px;">&nbsp;</p>
                <p class="w3-row daily-graph" style="height:{{row.daily_range * pixPerDegree[0] }}px;">&nbsp;</p>
                <p class="w3-row daily-temp" >{{'%0.0f'|format(row.min)}}</p>
           </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% else %}
    <h2>Sorry, there is no data to report...</h2>
{% endif %}

{% endblock body %}