{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block fieldset %}
<fieldset>
    {{ input_field(rec.id,"id",type="hidden",default="0")}}
    <p>{{ input_field(rec.temp,"temp",)}}</p>
    <p>{{ input_field(rec.scale,"scale",)}}</p>
    <p>{{ input_field(rec.time,"time",)}}</p>
    <p>
    {{ select_field(rec.sensor_id,"sensor_id",label='Sensor')}}
        {% for option in sensors %}
            <option value="{{option{id}}}" {% if option.id == rec.sensor_id %}selected{% endif %}>{{option.name}}</option>
        {% endfor %}
    </select>
    </p>
 </fieldset>
{% endblock %}
